src/main/resources/test.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://test.com/my-soap-test"
           targetNamespace="http://test.com/my-soap-test"
           elementFormDefault="qualified">
    <xs:element name="getCurrentDateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="format" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCurrentDateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="date" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>